<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Quiz</title>
    <link rel="stylesheet" href="/stylesheets/takeQuiz.css">
</head>
<body>
    <div class="quiz-container">
        <h1 class="quiz-title">Select Quiz Title</h1>

        <select id="quizTitle" required>
            <option value="" disabled selected>Select Quiz Title</option>
            <option value="Maths">Maths</option>
            <option value="Science">Science</option>
            <option value="History">History</option>
            <option value="General-Knowledge">General Knowledge</option>
            <option value="Geography">Geography</option>
        </select>


        <div id="url-container" style="margin-top: 20px;">
            
        </div>
    </div>

    <script src="/javascripts/takeQuiz.js"></script>
</body>
</html>
