body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; 
    color: #333; 
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh; 
}

.title {
    display: flex;
    width:100%;
    justify-content: center;
    margin: auto auto; 
}

.title p {
    padding-left:100px;
    padding-right:100px;
    margin: 10px; 
    font-size: 25px;
    color: white;
    padding: auto auto;
    background-color:#2c3e50 ;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab';
    height:100px;
}


* {
    background-color: palegoldenrod;
}

img{
  height:75px;
  width: 75px;
  margin-right: 30px;
}

#myLinks {
    background-color: #2c3e50; 
    padding: 10px; 
    border-radius: 8px;
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; 
    margin: 30px 0px; 
    align-items: center;
}

a, .overlay button.logout{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    /* margin: px; */
    text-decoration: none;
    cursor: pointer;
    background-color: #2980b9; 
    color: white;
    border: none;
    border-radius: 4px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 5px 15px;
    height: 20px;
    width: 100px;
}

h1{
background-color: #2c3e50;
color: white;
margin-right: 200px;
}

.quiz-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 40px auto; 
    padding: 20px; 
    background-color: #2c3e50; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}

h2{
    color: white;
    background-color: #2c3e50;
}
.quiz-card button {
    background-color: #2980b9; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    width: 250px;
    height: 50px;
}

button:hover {
    background-color: #3498db; 
}
